*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(-125deg, #845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
    background-size: 400%;
    animation: bganimation 15s infinite;
}

.banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #e91e63;
    clip-path: circle(0px at center center);
}
.banner video{
    position: absolute;
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{text-align: center;
    margin-top: 18%;
    font-weight: bold;
    font-size: 60px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: 2px;
    text-shadow: -5px -5px 5px rgba(255,255,255,0.2);
    box-shadow: -50px -50px 50px rgba(255,255,255,0.1), 50px 50px 50px rgba(255,255,255,0.1);
        }


.show{
    position: relative;
    margin-top: 200vh;
    padding: 0px;
    background-image: linear-gradient(125deg, #ff6f91,#ff9671,#ffc75f,#f9f871,#02ff70);
    background-size: 400%;
    animation: bganimation 15s infinite;
    height: 1810px;
    color: white;
    }

@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.show h1{
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    animation: animate 2s linear infinite;
    color: black;
    background: no-repeat;
    box-shadow: none;
   }

@keyframes animate{
0%{
    
transform:  translateX(0);
}

50%{
transform: translateY(0%);
}
}

 .kabita{
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background: -webkit-linear-gradient(135deg, #ff9671,#ffc75f);
    }

p a{
	 	text-decoration: none;
 }
 .pari button{
	 width: 150px;
	 height: 40px;
	 background-color: white;
	 	 border: none;
	 border-radius: 40px;
	 color: black;
	 font-weight: bold;
	 font-size: 20px;
	margin: auto;
	align-items: center;
	margin-bottom: 15px;
	left: 0px;
	right: 0px;
	transform: translate(-50% -50%);
	justify-content: center;
	display: flex;

 }
 .pari button:hover{
	 color: white;
	 background-color: #d65db1;
	 width: 150px;
	 height: 40px;
	 border-radius: 40px 6px 40px 6px;
 }

.modal{
	color: #008b8b;

}

.modal p{
	text-align: center;
}
h3{
   text-align: center; 
   margin-bottom: 15px;
   font-size: 28px;
   text-shadow: 0 5px 5px rgba(0,0,0,1);
   }

.container{
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

 .countdown{
    
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
background-image: linear-gradient(45deg, #ffc75f,#f9f871,#02ff70);
background-size: 400%;
    animation: bganimation 15s infinite;
border-radius: 20px;
color: black;
margin: 0 9px;
font-size: 2em;
font-weight: 250;  
font-family: 'Black Ops One', cursive; 
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background-image: linear-gradient(230deg, #ff6f91,#ff9671,#ffc75f);
background-size: 400%;
    animation: bganimation 15s infinite;
border-radius: 10px;
color: white;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}

.map{
    margin-bottom: 15px;
}
.anusthan{
text-align: center; 
   margin-bottom: 20px;
   color: #845ec2;
   
}
.maha{
    color: #ff6f91;
}
.aag{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 72px;
    color: #ff6f91;
}

.bin{
   text-align: right; 
   margin-bottom: 36px;
   color: #ff6f91;
}

footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
    
    }

  footer p{
      text-align: center;
      padding: 10px;
      
  }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;
              
      }
.wapper{
    width: 100%;
    height: 1800px;
    position: absolute;
    
}
.wrapper div{
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
}
div .dot{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    top: 20%;
    right: 20%;
}
    
.wrapper div:nth-child(1){
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2){
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3){
    top: 40%;
    left: 40%;
    animation: animate 5s linear infinite;
}
.wrapper div:nth-child(4){
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5){
    top: 90%;
    left: 10%;
    animation: animate 25s linear infinite;
}
.wrapper div:nth-child(6){
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7){
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8){
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9){
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10){
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11){
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12){
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13){
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14){
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15){
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(70deg);
    }
     100%{
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}
